.customer-img{
    display: flex;
    justify-content: center;
    max-width: 300px;
    border-radius: 40%;
}

.customer-review{
    border: 15px solid skyblue;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .review{
        display: grid;
        grid-template-columns: repeat(2, 1r);
    }
}
