.about img{
    width: 250px;
    border: 15px solid skyblue;
    border-radius: 50%;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


@media only screen and (max-width: 600px) {
    .about{
        display: block;
        justify-content: center;
    }
}